.container {
  min-height: 100vh;
  display: flex !important;
  flex-direction: column;
}

.comment-section {
  height: 40vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    height: 40px;
  }
}
